@charset "utf-8";

/* Custom Styles */
body {
	background: #FFF;
}
li {
	float: left;
}
li a {
	display:block;
	color: white;
	text-align: center;
	padding: 25px 80px;
	text-decoration: none;
}
li a:hover {
	background-color: #111111;
}
ul {
	list-style-type: none;
	margin:0;
	padding:0;
	overflow: hidden;
	background-color: #333;
}
.active {
	background-color: #4CAF50;
}
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	10;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

/* Mobile Layout: 480px and below. */

.gridContainer {
	background:#FFF;
	margin-left: auto;
	margin-right: auto;
	width: 87.36%;
	padding-left: 1.82%;
	padding-right: 1.82%;
	height: auto;
}
#header {
	margin-top: 1%;
	clear: both;
	float:right;
	width: 100%;
	display: block;
	text-align:center;
}
#navigation {
	margin-top: 1%;
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
}
#header {
	clear: both;
	float: right;
	width: 100%;
	display: block;
}
#navigation {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 78.4%;
	max-width: 1232px;
	padding-left: 0.8%;
	padding-right: 0.8%;
	margin: auto;
}
#LayoutDiv1 {
	clear: both;
	float: right;
	width: 75%;
	display: block;
}
#navigation {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
}