@charset "utf-8";
/* -------------------------- */
/* Global Settings */
/* -------------------------- */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-family: 'Lato', 'Arial', sans-serif;
	font-weight: 300;
    font-size: 20px;
	text-rendering: optimizeLegibility;
}
body {
	background: #FFF;
}
h1 {
	font-size: 250%;
	font-weight:300;
	color: #219251;
	margin-bottom: 10px;
	text-transform: uppercase;
}
a, a:link, a:visited, a:active {
	color: inherit;
	text-decoration: none;
}
a:hover {
	color: #4CAF50;
	text-decoration: none;
}
.icon-space {
	margin: 0 5px 0 0;
}
.clear:before, .clear:after {
	content:"";
	display:table
}

.clear:after {
	clear:both
}

.clear {
	zoom:1
}
/* -------------------------- */
/* Main Navigation */
/* -------------------------- */

.navigation li {
	font-size: 18px;
}
.navigation li a {
	display:block;
	color: white;
	text-align: center;
	padding: 20px 40px;
	text-decoration: none;
}
.navigation li a:hover {
	background-color: #111111;
}
.navigation ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}
.active {
	background-color: #4CAF50;
}
/* -------------------------- */
/* Pricing Settings */
/* -------------------------- */
#pricing-table {
	margin: 20px auto;
	text-align: center;
	width: 100%; /* total computed width = 222 x 3 + 226 */
}
#pricing-table .plan {
	font: 12px 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;
	text-shadow: 0 1px rgba(255, 255, 255, .8);
	background: #FFF;
	border: 1px solid #DDD;
	color: #333;
	padding: 20px;
	width: 220px;
	display: inline-block;
	margin: 20px;
}
#pricing-table h3 {
	font-size: 20px;
	font-weight: normal;
	padding: 20px;
	margin: -20px -20px 50px -20px;
	background-color: #eee;
}
#pricing-table .plan:nth-child(1) h3 {
	-moz-border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	border-radius: 5px 0 0 0;       
}
#pricing-table .plan:nth-child(4) h3 {
	-moz-border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	border-radius: 0 5px 0 0;       
}
#pricing-table h3 span {
	display: block;
	font: bold 25px/85px Georgia, Serif;
	color: #777;
	background: #fff;
	border: 5px solid #fff;
	height: 100px;
	width: 100px;
	margin: 10px auto -65px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	-moz-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
	-webkit-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
	box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
}
#pricing-table ul {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
}

#pricing-table li {
	border-top: 1px solid #ddd;
	padding: 10px 0;
}
/* -------------------------- */
/* Index Content */
/* -------------------------- */
.main-text {
	padding: 20px 15px;
	text-align: center;
}
.main-text p{
	font-size: 175%;
	text-align: justify;
	line-height: 1.5;
}
.col-img-right {
	float: left;
}
.col-txt-left {
	text-align: center;
	padding: 20px 15px;
}
.col-txt-left p {
	text-align: justify;
	width: 100%;
	line-height: 1.5;
	margin: 0 auto;
	font-size: 175%;
}
.col-txt-left img {
	border-color: #ccc;
	border: solid;
	border-radius: 5px;
}

.col-txt-left ul li {
	text-align: justify;
}

.col-txt-right {
	padding: 20px 15px;
	text-align: justify;
}

th, td { padding: 5px; }

#preOrderList tr:nth-child(even)
{
	background-color: #cacaca;
}

/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	10;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

/* Mobile Layout: 480px and below. */

.gridContainer {
	background:#FFF;
	margin-left: auto;
	margin-right: auto;
	width: 87.36%;
	height: auto;
}
#logo {
	background-image:url(../images/logo.png);
	display:block;
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center;
	width:100%;
	height: 100px;
	text-indent:-9999px;
}
#header {
	margin-top: 1%;
	clear: both;
	float:right;
	width: 100%;
	display: block;
	text-align:center;
}
#navigation {
	margin-top: 1%;
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#content {
	margin-top: 1%;
	margin-left: 0;
	clear: both;
	float: left;
	width: 100%;
}
#footer {
	margin-top: 1%;
	clear: both;
	float: left;
	margin-left: 0;
	margin-bottom: 5%;
	width: 100%;
	display: block;
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 90.675%;
}
#logo {
	height: 150px;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
	.gridContainer {
		width: 78.4%;
		max-width: 1232px;
		margin: auto;
	}

	.navigation li {
		float: left;
		font-size: 18px;
	}

	#navigation .float-right {
		float: right;
	}

	#logo {
		background-size: 60%;
		height: 200px;
	}

	/* -------------------------- */
	/* Index Content */
	/* -------------------------- */
	.main-text {
		text-align: left;
		padding: 30px 60px;
	}

	.col-txt-left {
		text-align: left;
		padding: 80px 60px;
		float: left;
		width: 50%;
	}

	.col-img-right {
		float: right;
		width: 50%;
	}

	.col-txt-right {
		text-align: left;
		padding: 80px 60px;
		float: right;
		width: 50%;
	}
}
